*.Rmd
*.log
/data
*.md
._*
.Rhistory
.ipynb_checkpoints/
*.ipynb
.#.*
*html
*__pycache__*
*.DS_Store
*.RData
*.rds
*.png
*.bam
*.bai
*[#]*
*pdf
*csv
*txt
*h5ad
*h5
procdata
*eps
*jpg
*mat
*mexa64

discrete_model/proc_inputs/
discrete_model/outputs/
